
**/__tests__/**
**/*.test.js
**/*.test.jsx
**/*.test.ts
**/*.test.tsx
**/*.spec.js
**/*.spec.jsx
**/*.spec.ts
**/*.spec.tsx

.eslintrc.js
.lintstagedrc.js
babel.config.js
jest.config.js
jest.setup.js
setupTests.js

**/mocks/**
**/__mocks__/**

node_modules/
build/
node_modules/